@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

@media only screen and (max-width:666px){
  .container{
    margin-top: 4rem;
  }
  .wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsla(0, 0%, 100%, 0.75);
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Lexend Deca', sans-serif;
}
h1{
  font-family: 'Big Shoulders Display', cursive;
  color:hsl(0, 0%, 95%);
}
p{
  font-size: 0.8rem;
  line-height: 1.8;
}
.learn-more{
  padding: 15px 30px;
  margin-top: 60px;
  border: none;
  border-radius: 25px;
}
.learn-more:hover{
  cursor: pointer;
  background-color: inherit;
  color: hsla(0, 0%, 100%, 0.75);;
  border: 2px solid white;
}
body, button{
  background-color:hsl(0, 0%, 95%);
}
.container{
  width: 1200px;
  max-width: 90%;
  margin: auto;
}
.wrap{
  display: flex;
  justify-content: center;
  width: fit-content;
  border-radius: 12px;
  margin:auto;
  overflow: hidden;
}
.card1, .card2, .card3{
  padding: 40px;
  width: 170px;
  border: none;
}
.card1{
  background-color: hsl(31, 77%, 52%);
 
}
.card1 button{
  color:hsl(31, 77%, 52%) ;
}
.card2{
  background-color: hsl(184, 100%, 22%);
}
.card2 button{
  color: hsl(184, 100%, 22%);
}
.card3{
  background-color: hsl(179, 100%, 13%);
  
}
.card3 button{
  color: hsl(179, 100%, 13%);
}
footer{
  margin-top: 1rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
#of{
  color: black;
}
